.part1{
    background-color: #f9fbfe;
    margin-left:20px
}
.heading{
    color:black;
    font-family: 'Times New Roman';
    font-weight:bold ;
    text-align: left;
    font-size: 30px;
}
.para{
    color:black;
    font-family: 'Times New Roman';
    
    text-align: left;
    font-size: 20px;
}
.container{
    padding:5px;
    margin:5px;
}
.card{
    padding: 5px;
    margin: 5px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
}
.count{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.line{
    font-family: 'Times New Roman';
    font-size: 15px;
}
.container2{
    margin-left: 15px;
    margin-right:0px ;
}
.details-card{
    border:solid;
    border-radius: 10px;
    border-width: 1px;
    padding:5px;
    width: 100%;
}
.card-head{
    font-family: 'Times New Roman';
    font-size: 18px;
    color:rgb(2, 2, 43);
    padding:15px;
    margin:5px;
}
input{
    padding:5px;
    margin:5px;
    font-size: 15px;
}