.place-head{
    font-size: 25px;
    font-family: 'Times New Roman';
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    
}
.cont-head{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.cont-para{
    font-family: 'Times New Roman';
    text-align: left;
    font-size: 15px;
   
}
.con{
    margin:30px
}